{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <script type="text/javascript">
        var elems = document.getElementsById('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Êtes vous sur de vouloir supprimer votre compte?'))
                e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>

    <div class="mx-auto col-8 mt-3">
        <h1 class="mx-auto">Profil <a class="btn btn-primary" href="{{ path('upd_profil') }}">Modifier le profil</a> <a class="btn btn-danger" id="confirmation" onclick="return confirm('Êtes vous sur de vouloir supprimer votre compte?')" href="{{ path('del_profil') }}">Supprimer le profil</a></h1>
        Vous êtes {{ app.user.leRole.getLibelleRoleAffichable }} chez EasyFood<br>
        Mail : {{ app.user.mailU }}<br>
        <!-- Si l'utilisateur a une adresse : affichage -->
        {% if app.user.numAdrC or app.user.rueC or app.user.cpC or app.user.villeC %}
            Adresse : {{ app.user.numAdrC }} {{ app.user.rueC }} {{ app.user.cpC }} {{ app.user.villeC }}<br>
        <!-- Sinon formulaire de saisie d'adresse -->
        {% else %}
            <a class="nav-link" href="{{ path('upd_adr_client') }}">Veuillez saisir votre adresse</a>
        {% endif %}
        <!-- Si l'utilisateur est client -->
        {% if app.user.leRole == "ROLE_Client" %}
            Note EasyFood :
            <!-- Si le client a noté et évalué EasyFood -->
            {% if app.user.noteEasyFood and app.user.commentaireEasyFood %}
                {{ app.user.noteEasyFood }}/5 <a href="{{ path('add_note_comm_EF') }}"><button class="btn btn-primary">Modifier</button></a>
                <!-- Si le commentaire EasyFood est visible et modéré -->
                {% if app.user.commentaireVisible and app.user.commentaireModere %}
                    <br>Commentaire EasyFood : {{ app.user.commentaireEasyFood }}
                <!-- Sinon si le commentaire EasyFood n'est pas visible et n'est pas modéré -->
                {% elseif not app.user.commentaireVisible and not app.user.commentaireModere %}
                    <br>Commentaire EasyFood non visible
                <!-- Sinon si le commentaire EasyFood n'est pas visible et est modéré -->
                {% elseif not app.user.commentaireVisible and app.user.commentaireModere %}
                    <br>Commentaire refusé par le modérateur
                {% endif %}
            <!-- Sinon si le client n'a pas noté et qu'il a passé commandé -->
            {% elseif not app.user.noteEasyFood and (app.user.lesCommandes|length)>1 %}
                Vous n'avez pas encore noté EasyFood et mis de commentaire <a href="{{ path('add_note_comm_EF') }}"><button class="btn btn-primary">Ajouter</button></a>
            <!-- Sinon si le client n'a pas passé de commande -->
            {% else %}
                Vous ne pouvez pas noter EasyFood si pas une commande passée
            {% endif %}
            <br><br><h4>Commandes effectuées:</h4>
            <!-- Si l'utilisateur connecté(client) a des commandes -->
            {% if app.user.lesCommandes is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date de commande</th>
                            <th scope="col">Date de livraison</th>
                            <th scope="col">Mode de réglement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Affichage de chaque commande -->
                        {% for laCommande in app.user.lesCommandes %}
                            <tr>
                                <th scope="row"><a href="{{ path('detail_commande',{id:laCommande.id}) }}">{{ laCommande.id }}</a></th>
                                <td>{{ laCommande.dateC |date("d/m/Y")}}</td>
                                <td>{{ laCommande.dateLivrC |date("d/m/Y H:i")}}</td>
                                <td>{{ laCommande.modeReglementC }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- Si l'utilisateur connecté(client) n'a pas de commandes -->        
            {% else %}
                Aucune commande effectuée<br/>
            {% endif %}
            <!-- Si l'utilisateur connecté(client) a évalué des restaurants -->
            <br><h4>Evaluations</h4>
            {% if app.user.lesEvaluers is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Qualité de la nourriture</th>
                            <th scope="col">Respect de la recette</th>
                            <th scope="col">Esthétique</th>
                            <th scope="col">Coût</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Affichage de chaque évaluation -->
                        {% for evaluation in app.user.lesEvaluers %}
                            <tr>
                                <th scope="row">{{ evaluation.unResto.nomR }}</th>
                                <td>
                                    {% for i in 0..4 %}
                                        {% if i<evaluation.noteQualiteNourriture %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="m349.5 45.066c-4.6836 0.19922-8.7461 3.2891-10.188 7.75l-52.75 163.49-171.74-0.33984c-4.8594-0.007813-9.1719 3.1211-10.672 7.7422-1.5 4.6211 0.14844 9.6836 4.082 12.535l139.16 100.7-53.434 163.32 0.003906-0.003906c-1.5117 4.6211 0.12891 9.6836 4.0625 12.543 3.9297 2.8555 9.2539 2.8516 13.18-0.011719l138.77-101.27 138.82 101.27v-0.003906c3.9258 2.8633 9.25 2.8672 13.184 0.011719 3.9297-2.8594 5.5703-7.9258 4.0586-12.543l-53.434-163.32 139.16-100.7 0.003906 0.003907c3.9375-2.8516 5.5859-7.9141 4.0859-12.539-1.5039-4.6211-5.8125-7.75-10.676-7.7383l-171.74 0.33984-52.809-163.49c-1.5469-4.7891-6.0977-7.957-11.125-7.7461z" fill-rule="evenodd"/></g></svg>
                                        {% else %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g>
                                            <path d="m348.53 39.305c-1.8242 0.49609-3.2773 1.8789-3.8594 3.6758l-57.508 172.73h-184.1c-2.4141 0.007813-4.5508 1.5625-5.3047 3.8594-0.75 2.293 0.054687 4.8125 1.9961 6.2461l149.56 109.33-57.508 178.42c-0.75 2.3125 0.074218 4.8438 2.043 6.2656 1.9688 1.4258 4.6328 1.418 6.5898-0.019531l149.56-109.33 149.56 109.33c1.957 1.4375 4.6211 1.4453 6.5898 0.019531 1.9688-1.4219 2.793-3.9531 2.043-6.2656l-57.508-178.42 149.56-109.33c1.9414-1.4336 2.7461-3.9531 1.9961-6.2461-0.75391-2.2969-2.8906-3.8516-5.3047-3.8594h-184.1l-57.508-172.73c-0.92188-2.8438-3.9141-4.4609-6.7969-3.6758zm1.4688 23.336 53.465 160.41c0.81641 2.2344 2.9531 3.707 5.3281 3.6758h171.05l-139.09 101.61c-1.9492 1.4297-2.7656 3.9492-2.0195 6.25l53.465 165.93-138.9-101.61h0.003906c-1.9727-1.4414-4.6445-1.4414-6.6172 0l-138.9 101.61 53.465-165.93h0.003906c0.74609-2.3008-0.070312-4.8203-2.0195-6.25l-139.09-101.61h171.05c2.375 0.03125 4.5117-1.4414 5.3281-3.6758z" fill-rule="evenodd"/></g></svg>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in 0..4 %}
                                        {% if i<evaluation.noteRespectRecette %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="m349.5 45.066c-4.6836 0.19922-8.7461 3.2891-10.188 7.75l-52.75 163.49-171.74-0.33984c-4.8594-0.007813-9.1719 3.1211-10.672 7.7422-1.5 4.6211 0.14844 9.6836 4.082 12.535l139.16 100.7-53.434 163.32 0.003906-0.003906c-1.5117 4.6211 0.12891 9.6836 4.0625 12.543 3.9297 2.8555 9.2539 2.8516 13.18-0.011719l138.77-101.27 138.82 101.27v-0.003906c3.9258 2.8633 9.25 2.8672 13.184 0.011719 3.9297-2.8594 5.5703-7.9258 4.0586-12.543l-53.434-163.32 139.16-100.7 0.003906 0.003907c3.9375-2.8516 5.5859-7.9141 4.0859-12.539-1.5039-4.6211-5.8125-7.75-10.676-7.7383l-171.74 0.33984-52.809-163.49c-1.5469-4.7891-6.0977-7.957-11.125-7.7461z" fill-rule="evenodd"/></g></svg>
                                        {% else %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g>
                                            <path d="m348.53 39.305c-1.8242 0.49609-3.2773 1.8789-3.8594 3.6758l-57.508 172.73h-184.1c-2.4141 0.007813-4.5508 1.5625-5.3047 3.8594-0.75 2.293 0.054687 4.8125 1.9961 6.2461l149.56 109.33-57.508 178.42c-0.75 2.3125 0.074218 4.8438 2.043 6.2656 1.9688 1.4258 4.6328 1.418 6.5898-0.019531l149.56-109.33 149.56 109.33c1.957 1.4375 4.6211 1.4453 6.5898 0.019531 1.9688-1.4219 2.793-3.9531 2.043-6.2656l-57.508-178.42 149.56-109.33c1.9414-1.4336 2.7461-3.9531 1.9961-6.2461-0.75391-2.2969-2.8906-3.8516-5.3047-3.8594h-184.1l-57.508-172.73c-0.92188-2.8438-3.9141-4.4609-6.7969-3.6758zm1.4688 23.336 53.465 160.41c0.81641 2.2344 2.9531 3.707 5.3281 3.6758h171.05l-139.09 101.61c-1.9492 1.4297-2.7656 3.9492-2.0195 6.25l53.465 165.93-138.9-101.61h0.003906c-1.9727-1.4414-4.6445-1.4414-6.6172 0l-138.9 101.61 53.465-165.93h0.003906c0.74609-2.3008-0.070312-4.8203-2.0195-6.25l-139.09-101.61h171.05c2.375 0.03125 4.5117-1.4414 5.3281-3.6758z" fill-rule="evenodd"/></g></svg>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in 0..4 %}
                                        {% if i<evaluation.noteEsthetique %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="m349.5 45.066c-4.6836 0.19922-8.7461 3.2891-10.188 7.75l-52.75 163.49-171.74-0.33984c-4.8594-0.007813-9.1719 3.1211-10.672 7.7422-1.5 4.6211 0.14844 9.6836 4.082 12.535l139.16 100.7-53.434 163.32 0.003906-0.003906c-1.5117 4.6211 0.12891 9.6836 4.0625 12.543 3.9297 2.8555 9.2539 2.8516 13.18-0.011719l138.77-101.27 138.82 101.27v-0.003906c3.9258 2.8633 9.25 2.8672 13.184 0.011719 3.9297-2.8594 5.5703-7.9258 4.0586-12.543l-53.434-163.32 139.16-100.7 0.003906 0.003907c3.9375-2.8516 5.5859-7.9141 4.0859-12.539-1.5039-4.6211-5.8125-7.75-10.676-7.7383l-171.74 0.33984-52.809-163.49c-1.5469-4.7891-6.0977-7.957-11.125-7.7461z" fill-rule="evenodd"/></g></svg>
                                        {% else %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g>
                                            <path d="m348.53 39.305c-1.8242 0.49609-3.2773 1.8789-3.8594 3.6758l-57.508 172.73h-184.1c-2.4141 0.007813-4.5508 1.5625-5.3047 3.8594-0.75 2.293 0.054687 4.8125 1.9961 6.2461l149.56 109.33-57.508 178.42c-0.75 2.3125 0.074218 4.8438 2.043 6.2656 1.9688 1.4258 4.6328 1.418 6.5898-0.019531l149.56-109.33 149.56 109.33c1.957 1.4375 4.6211 1.4453 6.5898 0.019531 1.9688-1.4219 2.793-3.9531 2.043-6.2656l-57.508-178.42 149.56-109.33c1.9414-1.4336 2.7461-3.9531 1.9961-6.2461-0.75391-2.2969-2.8906-3.8516-5.3047-3.8594h-184.1l-57.508-172.73c-0.92188-2.8438-3.9141-4.4609-6.7969-3.6758zm1.4688 23.336 53.465 160.41c0.81641 2.2344 2.9531 3.707 5.3281 3.6758h171.05l-139.09 101.61c-1.9492 1.4297-2.7656 3.9492-2.0195 6.25l53.465 165.93-138.9-101.61h0.003906c-1.9727-1.4414-4.6445-1.4414-6.6172 0l-138.9 101.61 53.465-165.93h0.003906c0.74609-2.3008-0.070312-4.8203-2.0195-6.25l-139.09-101.61h171.05c2.375 0.03125 4.5117-1.4414 5.3281-3.6758z" fill-rule="evenodd"/></g></svg>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in 0..4 %}
                                        {% if i<evaluation.noteCout %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="m349.5 45.066c-4.6836 0.19922-8.7461 3.2891-10.188 7.75l-52.75 163.49-171.74-0.33984c-4.8594-0.007813-9.1719 3.1211-10.672 7.7422-1.5 4.6211 0.14844 9.6836 4.082 12.535l139.16 100.7-53.434 163.32 0.003906-0.003906c-1.5117 4.6211 0.12891 9.6836 4.0625 12.543 3.9297 2.8555 9.2539 2.8516 13.18-0.011719l138.77-101.27 138.82 101.27v-0.003906c3.9258 2.8633 9.25 2.8672 13.184 0.011719 3.9297-2.8594 5.5703-7.9258 4.0586-12.543l-53.434-163.32 139.16-100.7 0.003906 0.003907c3.9375-2.8516 5.5859-7.9141 4.0859-12.539-1.5039-4.6211-5.8125-7.75-10.676-7.7383l-171.74 0.33984-52.809-163.49c-1.5469-4.7891-6.0977-7.957-11.125-7.7461z" fill-rule="evenodd"/></g></svg>
                                        {% else %}
                                            <svg width="15pt" height="15pt" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g>
                                            <path d="m348.53 39.305c-1.8242 0.49609-3.2773 1.8789-3.8594 3.6758l-57.508 172.73h-184.1c-2.4141 0.007813-4.5508 1.5625-5.3047 3.8594-0.75 2.293 0.054687 4.8125 1.9961 6.2461l149.56 109.33-57.508 178.42c-0.75 2.3125 0.074218 4.8438 2.043 6.2656 1.9688 1.4258 4.6328 1.418 6.5898-0.019531l149.56-109.33 149.56 109.33c1.957 1.4375 4.6211 1.4453 6.5898 0.019531 1.9688-1.4219 2.793-3.9531 2.043-6.2656l-57.508-178.42 149.56-109.33c1.9414-1.4336 2.7461-3.9531 1.9961-6.2461-0.75391-2.2969-2.8906-3.8516-5.3047-3.8594h-184.1l-57.508-172.73c-0.92188-2.8438-3.9141-4.4609-6.7969-3.6758zm1.4688 23.336 53.465 160.41c0.81641 2.2344 2.9531 3.707 5.3281 3.6758h171.05l-139.09 101.61c-1.9492 1.4297-2.7656 3.9492-2.0195 6.25l53.465 165.93-138.9-101.61h0.003906c-1.9727-1.4414-4.6445-1.4414-6.6172 0l-138.9 101.61 53.465-165.93h0.003906c0.74609-2.3008-0.070312-4.8203-2.0195-6.25l-139.09-101.61h171.05c2.375 0.03125 4.5117-1.4414 5.3281-3.6758z" fill-rule="evenodd"/></g></svg>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{% if evaluation.evaluationVisible %}{{ evaluation.commentaireEvaluation }}{%else%}Commentaire non visible{% endif %}</td>
                                <td><a href="{{path('upd_eval_resto',{idR:evaluation.unResto.id})}}" type="button" class="btn btn-warning">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- Si l'utilisateur connecté(client) n'a pas d'évaluation -->        
            {% else %}
                Aucune évaluation, vous pouvez évaluer les restaurants sur le détail de vos commandes.<br/>
            {% endif %}
            <!-- Si l'utilisateur connecté(client) a des plats dans son panier -->
            <br><h4>Panier en cours</h4>
            {% if app.user.lePanier.lesComposers is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Plat</th>
                            <th scope="col">Resto</th>
                            <th scope="col">Quantité du plat</th>
                            <th scope="col">Prix unitaire du plat</th>
                            <th scope="col">Prix total du plat</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Affichage de chaque plat du panier -->
                        {% for compose in app.user.lePanier.lesComposers %}
                            <!-- Calcul du prix total du panier -->
                            {% set total = total + compose.lePlat.prixClientP*compose.quantite %}
                            <tr>
                                <th scope="row">{{ compose.lePlat.nomP }}</th>
                                <td><a href="{{path('liste_plats_resto',{id:compose.lePlat.leResto.id})}}">{{ compose.lePlat.leResto }}</a></td>
                                <td>{{ compose.quantite }}</td>
                                <td>{{ compose.lePlat.prixClientP }} €</td>
                                <td>{{ compose.lePlat.prixClientP*compose.quantite }} €</td>
                                <td><a href="{{ path('supp_panier_plat_2', {id: compose.lePlat.id}) }}"><button class="btn btn-primary">Supprimer</button></a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">Total panier : {{total}} €</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Si le restaurant est ouvert, le client peut commander -->
                        {% if "now"|date('H:i') < app.user.lePanier.getRestoPanier.heureFermeture|date('H:i') and "now"|date('H:i') > app.user.lePanier.getRestoPanier.heureOuverture|date('H:i') %}
                            <tr>
                                <th scope="row"><a href="{{path('new_commande')}}" type="button" class="btn btn-warning">Passer commande</a></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            <!-- Si l'utilisateur connecté(client) n'a pas de plats dans son panier-->   
            {% else %}
                Panier vide<br/>
            {% endif %}

        </div>
    {% endif %}
{% endblock %}
