{% extends 'base.html.twig' %}

{% block title %}
    Mise à jour note commentaire EASYFOOD
{% endblock %}

{% block body %}
        <div class="container p-3 my-3 border">

        <h1>Note et commentaire EASYFOOD</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_label(form.noteEasyFood,'Note EasyFood') }} {{ form_widget(form.noteEasyFood) }}
        {{ form_label(form.commentaireEasyFood,'Commentaire EasyFood') }} {{ form_widget(form.commentaireEasyFood) }}
        <br>
        <input type="submit" class="btn btn-primary"/>
        {{ form_end(form) }}
    </div>
{% endblock %}